/* Roboto used as the main font across the landing page. */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

:root {
    /* Background color */
    --primary-dark: #1F2937;
    --secondary-dark: #E5E7EB;

    /* Font colors. */
    --primary-text-color: #F9FAF8; /* used as main hero font color and header logo font color. */
    --secondary-text-color: #E5E7EB; /* used in the header links. */
    --primary-dark-text-color: #1F2937;

    /* background color for buttons. */
    --button-background-color: #3882F6;
    --button-background-hover-color: #0062ff;
}

.header {
    width: 100%;
    height: 92px;
    background-color: var(--primary-dark); /* The variable sets the dark color to the header. */
}

.header-content {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 256px;
    margin-right: 256px;
}

.header .site-logo,
.header .header-links {
    display: flex;
    align-items: center;
}

.header .site-logo {
    font-size: 24px;
    color: var(--primary-text-color);
    font-weight: 800;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.header .site-logo:hover {
    animation: scaleUp 0.3s forwards;
}

.header .header-links ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

.header ul li a {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: 18px;
    transition: tranform 0.3s ease;
}

.header ul li:hover {
    animation: scaleUp 0.3s forwards;
}


/* Styling the hero section of the landing page. */

/* Hero section. */
.hero-section {
    width: 100%;
    height: 468px;
    background-color: var(--primary-dark);
    display: flex;
    justify-content: center;
}

.hero-content-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 256px;
    margin-right: 256px;
}


/* Styling hero content part of the section. */
.hero-content-container .hero-content {
    flex: 1;
    padding-right: 36px;
}

.hero-content .hero-title {
    font-size: 48px;
    font-weight: 800;
    color: var(--primary-text-color);
}

.hero-content p {
    font-size: 18px;
    color: var(--secondary-text-color);
}

.hero-content button {
    background-color: var(--button-background-color);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 32px;
    margin-top: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hero-content button:hover {
    background-color: var(--button-background-hover-color);
    animation: wiggle 0.3s ease-in-out;
}

/* Styling hero image part of the section. */
.hero-content-container .hero-image {
    flex: 1;
    width: 100%;
    height: 226px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 36px;
}

.hero-content-container .hero-image .place-holder-text {
    color: white;
    font-style: italic;
}


 /* Styling information section of the landing page. */

 /* information section. */
 .information-section {
    width: 100%;
    min-height: 468px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .information-section .information-title {
    font-size: 36px;
    font-weight: 800;
    color: var(--primary-dark-text-color);
    margin: 40px 0; /* margin left right keeps it in the middle as also applied to header section. */
 }

 .information-section .information-cards {
    display: flex;
    gap: 36px;
    height: auto;
    text-align: center;
    margin: 0 392px;
 }

 .information-cards .item {
    flex: 1;
 }

 .item .card {
    height: 168px;
    width: auto;
    border-radius: 16px;
    border: 4px solid var(--button-background-color);
    display: flex;
 }

 .item .card-title {
    font-size: 16px;
    margin-top: 8px;
    color: var(--primary-dark-text-color);
 }


 /* Styling testimonial section of the landing page. */

 /* testimonial-section. */
 .testimonial-section {
    width: 100%;
    min-height: 468px;
    background-color: var(--secondary-dark);
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .testimonial-section div {
    width: 50%;
 }

 .testimonial-section .testimonial {
    font-size: 36px;
    font-weight: 300; /* light. */
    color: var(--primary-dark-text-color);
    font-style: italic;
 }

 .testimonial-section .writer {
    font-size: 24px;
    font-weight: 900;
    color: var(--primary-dark-text-color);
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
 }

 /* Styling the sign-up section of the landing page. */

 /* sign-up-section. */
 .sign-up-section {
    width: 100%;
    min-height: 392px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .sign-up-section .sign-up-content-container {
    background-color: var(--button-background-color);
    width: 60%;
    height: 136px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 112px;
 }

 .sign-up-content-container .title {
    font-size: 24px;
    font-weight: 500;
    color: white;
 }

 .sign-up-content-container .description {
    font-size: 18px;
    color: white;
    font-weight: 300;
 }

.sign-up-content-container button {
    background-color: var(--button-background-color);
    color: white;
    font-size: 18px;
    border: 2px solid white;
    padding: 4px 36px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.sign-up-content-container button:hover {
    background-color: var(--button-background-hover-color);
    animation: wiggle 0.3s ease-in-out;
}

/* Styling the footer section of the landing page. */

/* footer-section. */
.footer-section {
    width: 100%;
    height: 92px;
    background-color: var(--primary-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section p {
    font-size: 18px;
    font-weight: 300;
    color: white;
}

/* Wiggle animation for buttons of the landing page. */
@keyframes wiggle {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
}

/* Scale animation for the logo and links of the landing page. */
@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
